<div class="base_index">
<h1>Equipos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Pais</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @teams.each do |team| %>
      <tr data-team-id="<%= team.id %>">
        <td><%= team.nombre %></td>
        <td><%= team.pais %></td>
        <td><%= link_to 'Mostrar información', team %></td>
        <% if current_user && current_user == team.user%>
          <td><%= link_to 'Editar', edit_team_path(team) %></td>
          <td><%= link_to 'Borrar', team, method: :delete, data: { confirm: 'Estás seguro?' }, remote: true %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo equipo', new_team_path %>
</div>
