<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @team.nombre %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @team.pais %>
</p>

<p>
  <strong>Jugadores:</strong>
  <% @team.players.each do |player| %>
    <br>
    <%= player.apellido + ", " + player.nombre %>
  <% end %>
</p>


<%= link_to 'Editar', edit_team_path(@team) %> |
<%= link_to 'Volver', teams_path %>
