
<p>
  <strong>Nombre:</strong>
  <%= @team.nombre %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @team.pais %>
</p>
<% if !(@team.avatar.url == '/images/original/missing.png') %>
<p>
  <strong>Logo del equipo:</strong> <br>
  <%= image_tag @team.avatar.url, style: 'height:200px;width:auto;' %>
</p>
<% end %>


<p>
  <strong>Jugadores:</strong>
  <% @team.players.each do |player| %>
    <br>
    <%= player.apellido + ", " + player.nombre %>
  <% end %>
</p>
<%= link_to 'Ver jugadores', team_players_path(@team.id), :class=>"button-generic" %>
<% if current_user && current_user == @team.user%>
  <%= link_to 'Agregar jugadores', new_team_player_path(@team.id), :class=>"button-generic" %>
  <%= link_to 'Editar', edit_team_path(@team), :class=>"button-generic" %> |
<%end%>
<%= link_to 'Volver', teams_path, :class=>"button-generic" %>
