
<p>
  <strong>Nombre:</strong>
  <%= @team.nombre %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @team.pais %>
</p>

<p>
  <strong>Jugadores:</strong>
  <% @team.players.each do |player| %>
    <br>
    <%= player.apellido + ", " + player.nombre %>
  <% end %>
</p>
<%= link_to 'Ver jugadores', team_players_path(@team.id) %>
<% if current_user && current_user == @team.user%>
  <%= link_to 'Agregar jugadores', new_team_player_path(@team.id) %>
  <%= link_to 'Editar', edit_team_path(@team) %> |
<%end%>
<%= link_to 'Volver', teams_path %>
