<p>
  <strong>Nombre:</strong>
  <%= @tournament.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= dict_tipo[@tournament.tipo] %>
</p>

<p>
  <strong>Participantes:</strong>
  <% @tournament.teams.each do |team| %>
    <br>
    <%= team.nombre %>
  <% end %>
</p>
<%= link_to 'Ver partidos', tournament_matches_path(@tournament.id) %>
<% if current_user && current_user == @tournament.user%>
  <%= link_to 'Agregar partidos', new_tournament_match_path(@tournament.id) %>

  <%= link_to 'Editar', edit_tournament_path(@tournament) %> |
<%end%>
<%= link_to 'Volver', tournaments_path %>
