
<h1>Jugadores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nacionalidad</th>
      <th>Edad</th>
      <th>Equipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.nombre %></td>
        <td><%= player.apellido %></td>
        <td><%= player.pais %></td>
        <td><%= player.edad %></td>
        <td><%= player.team.nombre %></td>
        <td><%= link_to 'Mostrar información', player %></td>
        <td><%= link_to 'Editar', edit_player_path(player) %></td>
        <td><%= link_to 'Borrar', player, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo jugador', new_player_path %>
