<div class="base_index">
<h1>Jugadores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nacionalidad</th>
      <th>Edad</th>
      <th>Equipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.nombre %></td>
        <td><%= player.apellido %></td>
        <td><%= player.pais %></td>
        <td><%= player.edad %></td>
        <td><%= player.team.nombre %></td>
        <td><%= link_to 'Mostrar información', team_player_path(@team, player), :class=>"button-generic" %></td>
        <% if current_user && current_user == player.team.user%>
          <td><%= link_to 'Editar', edit_team_player_path(@team, player), :class=>"button-generic" %></td>
          <td><%= link_to 'Borrar', team_player_path(@team, player), method: :delete, data: { confirm: 'Estás seguro?' }, :class=>"button-generic" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user == @team.user%>
  <%= link_to 'Nuevo jugador', new_team_player_path(@team.id), :class=>"button-generic new-resource"  %>
<% end %>
<%= link_to 'Volver', team_path(@team.id), :class=>"button-generic" %>
</div>
