<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @player.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @player.apellido %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @player.pais %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @player.edad %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= Team.find_by_id(@player.team_id).nombre %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
