
<p>
  <strong>Nombre:</strong>
  <%= @player.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @player.apellido %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @player.pais %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @player.edad %>
</p>

<p>
  <strong>Equipo: (ID - nombre)</strong>
  <%= @player.team_id.to_s + " - " + @player.team.nombre %>
</p>

<% if current_user %>
<%= link_to 'Editar', edit_team_player_path(@team, @player) %> |
<% end %>
<%= link_to 'Volver', team_players_path(@team.id) %>
