
<h1>Partidos</h1>

<table>
  <thead>
    <tr>
      <th>Campeonato</th>
      <th>Fecha</th>
      <th>Equipo Local</th>
      <th>Equipo Visita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.tournament.nombre %></td>
        <td><%= match.fecha %></td>
        <td><%= match.equipo_local.nombre %></td>
        <td><%= match.equipo_visita.nombre %></td>
        <td><%= link_to 'Mostrar información', tournament_match_path(@tournament, match) %></td>
        <% if current_user && current_user == match.tournament.user%>
          <td><%= link_to 'Editar', edit_tournament_match_path(@tournament, match) %></td>
          <td><%= link_to 'Borrar', tournament_match_path(@tournament, match), method: :delete, data: { confirm: 'Estás seguro?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Partido', new_tournament_match_path(@tournament.id) %>
