<div class="base_index">
<h1>Partidos por jugar</h1>

<table>
  <thead>
    <tr>
      <th>Campeonato</th>
      <th>Equipo Local</th>
      <th>Equipo Visita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches_fijados.each do |match| %>
      <tr>
        <td><%= match.tournament.nombre %></td>
        <td><%= match.equipo_local.nombre %></td>
        <td><%= match.equipo_visita.nombre %></td>
        <td><%= link_to 'Mostrar informaci칩n', tournament_match_path(@tournament, match), :class=>"button-generic" %></td>
        <% if current_user && current_user == match.tournament.user%>
          <% if !(match.tournament.estado == 'terminado') %>
          <td><%= link_to 'Finalizar Partido', finalizar_partido_path(@tournament, match), :class=>"button-generic" %></td>
          <td><%= link_to 'Editar', edit_tournament_match_path(@tournament, match), :class=>"button-generic" %></td>
          <td><%= link_to 'Borrar', tournament_match_path(@tournament, match), method: :delete, data: { confirm: 'Est치s seguro?' }, :class=>"button-generic" %></td>
        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Partidos Finalizados</h1>

<table>
  <thead>
    <tr>
      <th>Campeonato</th>
      <th>Fecha</th>
      <th>Equipo Local</th>
      <th>Resultado</th>
      <th>Equipo Visita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches_terminados.each do |match| %>
      <tr>
        <td><%= match.tournament.nombre %></td>
        <td><%= match.fecha %></td>
        <td><%= match.equipo_local.nombre %></td>
        <td><%= match.resultado %></td>
        <td><%= match.equipo_visita.nombre %></td>
        <td><%= link_to 'Mostrar informaci칩n', tournament_match_path(@tournament, match), :class=>"button-generic" %></td>
        <% if current_user && current_user == match.tournament.user%>
        <% if !(match.tournament.estado == 'terminado') %>
          <td><%= link_to 'Editar', edit_tournament_match_path(@tournament, match), :class=>"button-generic" %></td>
          <td><%= link_to 'Borrar', tournament_match_path(@tournament, match), method: :delete, data: { confirm: 'Est치s seguro?' }, :class=>"button-generic" %></td>
        <%end%>
          <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Volver', tournament_path(@tournament.id), :class=>"button-generic" %>

</div>
