<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Goles local</th>
      <th>Goles visita</th>
      <th>Penales</th>
      <th>Penales local</th>
      <th>Penales visita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.fecha %></td>
        <td><%= match.goles_local %></td>
        <td><%= match.goles_visita %></td>
        <td><%= match.penales %></td>
        <td><%= match.penales_local %></td>
        <td><%= match.penales_visita %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
