<p id="notice"><%= notice %></p>


<p>
  <strong>Campeonato: (ID - Nombre)</strong>
  <%= @match.tournament_id.to_s + " - " + Tournament.find_by_id(@match.tournament_id).nombre %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @match.fecha %>
</p>

<p>
  <strong>Equipo Local: (ID - Nombre)</strong>
  <%= @match.equipo_local_id.to_s + " - " + Team.find_by_id(@match.equipo_local_id).nombre %>
</p>

<p>
  <strong>Equipo Vista: (ID - Nombre)</strong>
  <%= @match.equipo_visita_id.to_s + " - " + Team.find_by_id(@match.equipo_visita_id).nombre %>
</p>

<%= link_to 'Editar', edit_match_path(@match) %> |
<%= link_to 'Volver', matches_path %>
