<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @match.fecha %>
</p>

<p>
  <strong>Goles local:</strong>
  <%= @match.goles_local %>
</p>

<p>
  <strong>Goles visita:</strong>
  <%= @match.goles_visita %>
</p>

<p>
  <strong>Penales:</strong>
  <%= @match.penales %>
</p>

<p>
  <strong>Penales local:</strong>
  <%= @match.penales_local %>
</p>

<p>
  <strong>Penales visita:</strong>
  <%= @match.penales_visita %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
