<!DOCTYPE html>
<html>
  <head>
    <title>Organiza2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  </head>

  <body>
    <header>

      <div>
        <%= link_to "Organiza2", root_path, class: "logo-button"  %>
      </div>
      <!-- <nav class="menu">
        <%= link_to 'Campeonatos', tournaments_path, class: "menu-button" %> |
        <%= link_to 'Equipos', teams_path, class: "menu-button" %>
      </nav> -->


      <nav id='menu'>
      	<%= link_to 'Home', root_path %>
      	<%= link_to 'About', about_path %>
      	<%= link_to 'Objetivo', objetivo_path %>
        <%= link_to 'Como se usa?', como_usarlo_path %>
        <% if current_page?(controller: 'static_pages', action: 'home') %>
      	 <div class="animation start-home"></div>
        <% elsif current_page?(controller: 'static_pages', action: 'about') %>
         <div class="animation start-about"></div>
        <% elsif current_page?(controller: 'static_pages', action: 'como_usarlo') %>
          <div class="animation start-como"></div>
        <% elsif current_page?(controller: 'static_pages', action: 'objetivo') %>
          <div class="animation start-objetivo"></div>
        <% else %>
          <div class="animation"></div>
        <% end %>

      </nav>
      <div id="user-options">
        <% if current_user %>
          <%= link_to 'Logout', session_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', new_session_path, class: "button" %> <br>or<br>
          <%= link_to 'Sign Up', new_user_path, class: "button" %>
        <% end %>
      </div>
    </header>
    <% if current_user %>
    <div class="menu">
      <div class="title">MENU</div>
      <ul class="nav">
        <li><%= link_to "Torneos", tournaments_path %></li>
        <li><%= link_to "Equipos", teams_path %></li>
      </ul>
  </div>
  <% end %>
  <% if !current_page?(controller: 'static_pages', action: 'home') %>
    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>"><%= flash_message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </main>
  <% else %>
  <div class="main-static">
    <% [:alert, :notice].each do |flash_type| %>
      <% if (flash_message = flash[flash_type]).present? %>
        <div class="<%= flash_type %>"><%= flash_message %></div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
  <% end %>
</div>

    <footer>
      © 2017 - Todos los derechos reservados | Background: <a href="http://www.freepik.com">Designed by Freepik</a>
    </footer>
  </body>
</html>
