<!DOCTYPE html>
<html>
  <head>
    <title>Organiza2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="logo">
        <%= link_to "Organiza2", root_path  %>
      </div>
      <nav id="main-menu">
        <%= link_to 'Campeonatos', tournaments_path, class: "button" %>
        <%= link_to 'Partidos', matches_path, class: "button" %>
        <%= link_to 'Equipos', teams_path, class: "button" %>
        <%= link_to 'Jugadores', players_path, class: "button" %>
        <%= link_to 'Usuarios', users_path, class: "button" %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
