<!DOCTYPE html>
<html>
  <head>
    <title>Organiza2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="logo">
        <h1><%= link_to "Organiza2", root_path, class: "logo-button"  %></h1>
      </div>
      <nav id="main-menu" class="center">
        <%= link_to 'Campeonatos', tournaments_path, class: "menu-button" %> |
        <%= link_to 'Equipos', teams_path, class: "menu-button" %>
      </nav>
      <div id="user-options">
        <% if current_user %>
          <%= link_to 'Logout', session_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', new_session_path, class: "button" %> <br>or<br>
          <%= link_to 'Sign Up', new_user_path, class: "button" %>
        <% end %>
      </div>
    </header>
    <main>
      <% [:alert, :notice].each do |flash_type| %>
        <% if (flash_message = flash[flash_type]).present? %>
          <div class="<%= flash_type %>"><%= flash_message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
